<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "rails.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, Seja Bem Vindo!</h1>
		<p>Meu nome é Marco Bonuto, sou desenvolvedor web junior, atuo na área a pouco menos de 1 ano e atualmente tenho tido contato com tecnologias como Ruby, JavaScript, e seus principais frameworks (Ruby on Rails, JQuery).</p>
		<p>A criação desse blog tem como intuito promover e despertar minha busca por mais conhecimento dessas tecnologias e quem sabe, de alguma forma, poder ajudar você abordando os mais diversificados temas relacionados a web dev.</p>
		<p>Sinta-se a vontade para navegar sobre os posts e comentar sobre os mesmos, e, se necessário, solicite um Post sobre determinado tema, só temos a ganhar com isso!</p>
		<p>Até mais e boa leitura,<br>Marco Bonuto [ ]`s</p>
	</div>
</div>